
/* Eliminar al acabar */
:root {
  /* FONTS */
  --font-roboto: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-open: "open-sans", "Segoe UI", Tahoma, Geneva, sans-serif;
  --font-georgia: "georgia", Georgia, "Times New Roman", Times, serif;

  /* COLORS */

  /* brands colors */

  --brand-primary: #d84949;
  --brand-black: #1b1c1e;

  /* primary */
  --primary-white: #fff;
  --primary-bloodred: #8c1636;
  --primary-red: #D23E3E;

  /* secondary */
  --secondary-darkblue: #000626;
  --secondary-ocre: #b67837;
  --secondary-beige: #fcfcfc;
  --secondary-greysky: #999ba8;
  --secondary-blackclear: #030408b0;
  --secondary-green: #25d366;
  --secondary_greyline: #0011661a;

  /* accent */
  --accent-golden: #f1b371;
  --accent-rosewood: #9a7678;
}

/* #########################################
################# SECCION ABOUT ##############
############################################ */

.about__info {
  font-size: .75rem;
  text-align: center;
}

.about__image {
  width: 15rem;
}

.container--about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding-block: 4rem;
}

@media (width > 900px) {
  .container--about {
    flex-direction: row;
    align-items: flex-start;
  }
}

