/* Eliminar al acabar */
:root {
  /* FONTS */
  --font-roboto: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-open: "open-sans", "Segoe UI", Tahoma, Geneva, sans-serif;
  --font-georgia: "georgia", Georgia, "Times New Roman", Times, serif;

  /* COLORS */

  /* brands colors */

  --brand-primary: #d84949;
  --brand-black: #1b1c1e;

  /* primary */
  --primary-white: #fff;
  --primary-bloodred: #8c1636;
  --primary-red: #D23E3E;

  /* secondary */
  --secondary-darkblue: #000626;
  --secondary-ocre: #b67837;
  --secondary-beige: #fcfcfc;
  --secondary-greysky: #999ba8;
  --secondary-blackclear: #030408b0;
  --secondary-green: #25d366;
  --secondary_greyline: #0011661a;

  /* accent */
  --accent-golden: #f1b371;
  --accent-rosewood: #9a7678;
}

h1 {
  font-family: var(--font-roboto);
}

.display--none {
  display: none;
}

.display--block {
  display: block;
}

/* ****************** SECTION HEADER ************ */
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.12rem;
  padding-block: 0.75rem;
  background-color: var(--primary-white);
}

.header__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__btnClose {
  position: absolute;
  width: 24px;
  height: 24px;
  transform: scale(0);
  opacity: 0;
  transition: all 0.5s ease;
}

.header__btnMenu {
  position: absolute;
  display: block;
  transform: scale(1);
  opacity: 1;
  transition: all 0.5s ease;
}
.header__btnMenu path {
  width: 2.5rem;
  stroke: var(--secondary-darkblue);
}

.header__image {
  width: 3rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__subtitle {
  font-size: 0.75rem;
  letter-spacing: 0.28rem;
  font-family: var(--font-roboto);
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.header__title {
  color: var(--brand-primary);
  font-weight: 700;
  font-family: var(--font-georgia);
  font-size: 0.9rem;
}

@media (width > 900px) {
  .header {
    position: relative;
    bottom: 0;
  }

  .header__btn {
    display: none;
  }
}

/* ********** SECTION MENU ************** */

.menu {
  position: absolute;
  bottom: 72px;
  display: flex; /* CAMBIAR CON JS A FLEX */
  transform: translateX(120%);
  justify-content: end;
  left: 0;
  width: 100%;
  background-color: var(--secondary-blackclear);
  transition: transform 0.3s ease;
}

.menu__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 2rem;
  width: 13rem;
  border: none;
  background-color: var(--secondary-green);
  color: var(--primary-white);
  font-family: var(--font-open);
  font-size: 0.8rem;
  font-weight: 400;
  border-radius: 10px;
}

.menu__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-end: 1.5rem;
  width: 80%;
  background-color: var(--primary-white);
}

.menu__line {
  width: 80%;
  margin-block: 1.5rem;
  border: 1px solid var(--secondary_greyline);
}

.menu__nav {
  width: 100%;
  padding-block-end: 10rem;
}

.menu__social {
  padding-inline: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu__social a svg {
  width: 1.5rem;
}

.menu__social path {
  fill: var(--secondary-greysky);
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav__desktop {
  display: none;
}

.nav__link {
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  font-family: var(--font-roboto);
  text-decoration: none;
  color: var(--secondary-darkblue);
  font-size: 1rem;
  transition: box-shadow .2s ease-in-out;
}

@media (width > 550px) {
  .menu__content {
    width: 60%;
  }
}

@media (width > 900px) {
  .menu {
    display: none;
  }

  .menu__nav {
    display: flex;
  }

  .menu__social--desktop {
    margin-inline-start: 2rem;
  }

  .nav__desktop {
    display: flex;
  }

  .nav__link:hover {
    box-shadow: 0 2px 0 0 var(--brand-primary);
  }

  .menu__social a svg:hover path {
  fill: var(--brand-primary);
}


}

@media (width > 1400px) {
  .header {
    padding-inline: 7.12rem;
  }
}

/* #########################################
################# SECCION HOME ##############
############################################ */

.home {
  background-image: url("../../../assets/images/image-home.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home__btn {
  margin-block-start: 4rem;
  padding-block: .75rem;
  padding-inline: 1.5rem;
  border: 1px solid var(--primary-white);
  color: var(--primary-white);
  background-color: var(--primary-red);
  border-radius: .5rem;
  font-family: var(--font-open);
  font-size: 1rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: #020306;
  background: linear-gradient(
    180deg,
    rgba(2, 3, 6, 1) 16%,
    rgba(2, 3, 6, 0) 80%
  );
  color: var(--primary-white);
}


.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 10rem;
}
.home__description {
  font-family: var(--font-open);
  margin-block-start: 2rem;
}

.home__title {
  font-family: var(--font-georgia);
  font-size: 2.5rem;
}

.home__subtitle {
font-size: 1.25rem;
letter-spacing: .6rem;
font-family: var(--font-open);
}


.home__line {
  width: 13rem;
  align-self: flex-end;
}
/*  ===============================================
================== RESPONSIVE =================
=================================================== */

@media (width > 900px) {
  .home__container {
    align-items: flex-start;
    background: #020306;
    background: linear-gradient(
      90deg,
      rgba(2, 3, 6, 1) 30%,
      rgba(2, 3, 6, 0) 90%
    );
  }
   .home__description {
    font-size: 1rem;
    font-weight: 100;
    }

  .home__content {
    margin-block-start: 13rem;
    margin-inline-start: 8rem;
    align-items: flex-start;
  }

  .home__title {
    font-size: 3rem;
  }

  .home__subtitle {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .home__line {
    align-self: center;
  }
}

@media (width > 1200px) {
  .home__container {
    align-items: flex-start;
    background: #020306;
    background: linear-gradient(
      90deg,
      rgba(2, 3, 6, 1) 30%,
      rgba(2, 3, 6, 0) 90%
    );
  }

  .home__description {
    font-size: 1.5rem;
    font-weight: 100;
    }

  .home__content {
    margin-inline-start: 15rem;
    align-items: flex-start;
  }

  .home__title {
    font-size: 5rem;
  }

  .home__subtitle {
    font-size: 2rem;
    font-weight: 700;
  }

  .home__line {
    align-self: center;
  }
}
