/* --- RESET CSS SIMPLE PARA LANDING --- */

/* 1. Eliminar márgenes, paddings y normalizar tipografía */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  scroll-behavior: smooth;
}

iframe {
  width: 100%;
  height: auto;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem
}

