:root {
  /* COLORS */
  /* Brand */
  --color-brand-primary: #d84949;
  --color-brand-black: #1b1c1e;

  /* Primary */
  --color-primary-bloodred: #8c1636;
  --color-primary-white: #fff;
  --color-primary-black: #000;
  --color-primary-ligth: #faf9f6;
  --color-valid-green: #29b751;
  --color-invalid-red: #b72929;

  /* Secondary */
  --color-secondary-blue: #0673bc;
  --color-secondary-light: rgb(252, 252, 252);
  --color-secondary-beigeLight: #f9f4ef;
  --color-secondary-darkBlue: #000626;
  --color-secondary-darkBlue-40: #00052466;
  --color-secondary-darkBlue-60: rgba(0, 5, 36, 0.6);
  --color-secondary-darkBlue-90: rgba(0, 5, 36, 0.9);
  --color-secondary-ocre: #b67837;
  --color-secondary-greenLight: #25d366;
  --color-secondary-grey: #fcfcfc;
  --color-secondary-dark: #12131a;
  --color-secondary-stroke: #d9d9d9;

  /* Accent */
  --color-accent-golden: #f1b371;
  --color-accent-roseWood: #9a7678;
  --color-accent-roseWood-50: #9a767888;

  /* FONTS */
  --font-roboto: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-open: "open-sans", "Segoe UI", Tahoma, Geneva, sans-serif;
  --font-georgia: "georgia", Georgia, "Times New Roman", Times, serif;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// REUSABLE COMPONENTS //////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* **************************************
************** BTN WHATSAPP ************* 
*****************************************/

.btn__wsp {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  z-index: 1100;
  padding: .5rem;
  border-radius: 50%;
  background-color: var(--color-valid-green);
}

.btn__wsp img {
  width: 2rem;
  height: 2rem;
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {

  .btn__wsp {
    display: block;
  }
}


/* **************************************
************** TITLE SECCION ************* 
*****************************************/

.section__container {
  color: var(--color-primary-white);
}

.section__container--about {
  background-color: var(--color-secondary-dark);
}

.section__container--line {
  width: 100%;
  height: 0;
}

.section__container--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  width: 100%;
}

.section__container--text {
  margin-block: 1rem;

  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-georgia);
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.section__container--content {
  margin-inline: 1.75rem;
  padding-block-end: 4rem;
}

/* -------------------------------------------
-------------- RESPONSIVE TITLE ---------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .section__container {
    padding-inline: 7rem;
  }
  .section__container--title {
    flex-direction: row;
    padding-block-start: 7rem;
  }

  .section__container--text {
    min-width: max-content;
    font-size: 2rem;
    margin-inline: 2rem;
  }

  .section__container--content {
    margin-inline: 0;
  }
}

@media screen and (min-width: 1439px) {
  .section__container {
    padding-inline: 15rem;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// PARTICULAR COMPONENTS ////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* **************************************
************** SECCION MENU MOBILE ********* 
******************************************/

.menu-mobile {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: var(--color-primary-white);
}

.menu-mobile__btns {
  display: flex;
}

.menu-mobile__btn {
  width: 1.5rem;
}

.menu-mobile__btn--disabled {
  display: none;
  transform: scale(0);
  opacity: 0;
}

.menu-mobile__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.25rem;
  padding-block: 0.75rem;
  margin-block-end: 4rem;
  border-radius: 0.75rem;
  width: 12.5rem;
  background-color: var(--color-secondary-greenLight);
  color: var(--color-primary-white);
  font-family: var(--font-open);
  font-weight: 600;
  border: none;
}

.menu-mobile__contact a {
  display: flex;
  gap: .5rem;
  align-items: center;
  text-decoration: none;
  color: var(--color-primary-white);
}

.menu-mobile__contact img {
  width: 1.25rem;
}

.menu-mobile__image {
  width: 2.5rem;
}

.menu-mobile__link {
  text-decoration: none;
  font-family: var(--font-open);
  font-size: 1rem;
  color: var(--color-brand-black);
  font-weight: 400;
}

.menu-mobile__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.menu-mobile__menu {
  display: flex;
  justify-content: end;
  position: fixed;
  top: 56px;
  right: 0%;
  width: 100%;
  background-color: #1b1c1e;
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out;
}

.menu-mobile__navigation {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: var(--color-primary-white);
  padding-block-start: 1.5rem;
  padding-inline-start: 1.5rem;
}

.menu-mobile__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 3rem;
}

.menu-mobile__social {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 10rem;
}

.menu-mobile__subtitle {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.menu-mobile__title {
  font-size: 1rem;
  font-family: var(--font-georgia);
  color: var(--color-brand-primary);
}

/* -------------------------------------------
------------- RESPONSIVE MOBILE -------------
----------------------------------------------*/

@media screen and (min-width: 799px) {
  .menu-mobile__btn {
    width: 1.75rem;
  }

  .menu-mobile__navigation {
    align-items: center;
    width: 70%;
  }

  .menu-mobile__link {
    text-align: center;
    font-size: 1.15rem;
  }
}

/* **************************************
************** SECCION MENU DESKTOP ********* 
******************************************/

.menu-desktop {
  display: none;
  justify-content: space-around;
  padding-block: 0.75rem;
  padding-inline: 3rem;
}

.menu-desktop__image {
  width: 4rem;
}

.menu-desktop__link {
  display: inline-flex;
  text-decoration: none;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-weight: 600;
  font-family: var(--font-roboto);
  color: var(--color-brand-black);
  letter-spacing: 0.05rem;
  border-bottom: 2px solid var(--color-primary-white);
  transition: color 0.2s ease-in, border-color 0.2s ease-in;
}

.menu-desktop__link:hover {
  border-color: var(--color-brand-primary);
  color: var(--color-brand-primary);
}

.menu-desktop__logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.menu-desktop__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  width: 500px;
}

.menu-desktop__nav {
  display: flex;
  gap: 1rem; /* CAMBIAR EN MEDIAQUERIE A MAS DISTANCIA */
}

.menu-desktop__social {
  display: flex;
  gap: 1rem;
}

.menu-desktop__social svg {
  width: 24px;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.menu-desktop__social svg:hover {
  transform: scale(1.1);
}

.menu-desktop__social svg path {
  fill: var(--color-secondary-darkBlue-40);
  transition: fill 0.1s ease-in;
}

.menu-desktop__social svg:hover path {
  fill: var(--color-brand-primary);
}

.menu-desktop__subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  margin-block-start: 0.25rem;
}

.menu-desktop__title {
  font-size: 1.5rem;
  font-family: var(--font-georgia);
  color: var(--color-brand-primary);
}

/* -------------------------------------------
------------- RESPONSIVE DESKTOP -------------
----------------------------------------------*/
@media screen and (min-width: 1023px) {
  .menu-desktop {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 600;
    width: 100%;
    background-color: var(--color-primary-white);
  }

  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu-desktop {
    justify-content: space-around;
  }

  .menu-desktop__menu {
    width: 650px;
  }

  .menu-desktop__nav {
    gap: 2.5rem;
  }

  .menu-desktop__social svg {
    width: 28px;
  }
}

/* ****************************************************************************************************************************************
*************************************************************** SECCION HOME ************************************************************** 
*******************************************************************************************************************************************/

.home {
  background-image: url("../assets/images/image-home.avif");
  background-size: cover;
  width: 100%;
  height: 100svh;
}

.home__btn {
  border: 1px solid var(--color-primary-white);
  background-color: var(--color-primary-bloodred);
  border-radius: 0.5rem;
  margin-block: 3rem;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  font-family: var(--font-open);
  font-size: 0.8rem;
  color: var(--color-primary-white);
  font-weight: 500;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.home__degraded {
  display: flex;
  justify-content: center;
  padding-block-start: 4rem;
  width: 100%;
  height: 100svh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 60%
  );
}

.home__description {
  color: var(--color-secondary-grey);
  font-family: var(--font-open);
  font-size: 0.8rem;
}
.home__info {
  margin-inline: 1.5rem;
  height: min-content;
  text-align: center;
  /* border: 2px solid green; */
  color: var(--color-primary-white);
}

.home__line {
  display: none;
  width: 12rem;
}

.home__title {
  margin-block-end: 3rem;
  font-family: var(--font-georgia);
  font-size: 4rem;
}

.home__subtitle {
  margin-block-end: 1.5rem;
  text-transform: uppercase;
  font-family: var(--font-open);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.24rem;
}

/* -------------------------------------------
-------------- RESPONSIVE HOME ---------------
----------------------------------------------*/

@media screen and (min-width: 500px) {
  .home__subtitle {
    font-size: 1.25rem;
  }

  .home__description {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1023px) {
  .home__btn {
    font-size: 1rem;
  }

  .home__degraded {
    justify-content: start;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  .home__info {
    text-align: start;
    margin-inline-start: 20%;
  }

  .home__title {
    font-size: 5rem;
    margin-block-end: 2rem;
  }

  .home__subtitle {
    font-size: 1.75rem;
  }

  .home__description {
    font-size: 1.25rem;
  }

  .home__line {
    display: block;
    width: 12rem;
    margin-inline-start: 8rem;
  }
}

@media screen and (min-width: 1439px) {
  .home__degraded {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0) 90%
    );
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION ABOUT ********************************************************* 
**********************************************************************************************************************************/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-primary-white);
  font-family: var(--font-open);
}

.about__image {
  width: 75%;
  max-width: 24rem;
}

.about__text {
  text-align: center;
  padding-inline: 0;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.fade-in.visible {
  opacity: 1;
}

@media screen and (min-width: 849px) {
  .about__text {
    padding-inline: 6rem;
  }
}

@media screen and (min-width: 1023px) {
  .about {
    flex-direction: row;
    align-items: flex-start;
  }

  .about__text {
    font-size: 1.15rem;
    padding-inline: 0;
  }
}

@media screen and (min-width: 1699px) {
  .about__text {
    padding-inline-start: 7rem;
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION REASONS ********************************************************* 
**********************************************************************************************************************************/

.section__container--reasons {
  background-color: var(--color-secondary-dark);
}
.section__container--content--reasons {
  display: flex;
  justify-content: center;
}
.reasons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  margin-block: 5rem;
  width: 100%;
}

.reasons__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  width: 16.5rem;
  border-radius: 10px;
  border: 1px solid var(--color-brand-black);
  box-shadow: 4px 3px 13px -2px var(--color-brand-black);
  transition: transform 0.2s ease-in, box-shadow 0.2s ease-in;
}

/* AQUI TEBNGO QUE PONER LA IMAGEN SIN FONDO QUE TENGO QUE PEDIR */
.reasons__image {
  width: 10rem;
  margin-block-end: 1.5rem;
}

.reasons__text {
  color: var(--color-secondary-light);
  font-family: var(--font-roboto);
  text-align: center;
  font-size: 0.75rem;
}
.reasons__title {
  margin-block-end: 0.75rem;
  font-family: var(--font-open);
  font-weight: 500;
  color: var(--color-primary-white);
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .reasons__card {
    width: 18rem;
  }
  .reasons__card:hover {
    transform: scale(1.025);
  }

  .reasons__image {
    width: 12rem;
    margin-block-end: 2.5rem;
  }

  .reasons__text {
    font-size: 0.9rem;
  }

  .reasons__title {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1323px) {
  .reasons {
    justify-content: space-between;
    gap: 2rem;
  }
}

@media screen and (min-width: 1623px) {
  .reasons__card {
    width: 20rem;
  }
  .reasons__text {
    padding-inline: 2rem;
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION MEATS ********************************************************* 
**********************************************************************************************************************************/

.meats__card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 23rem;
  padding-inline: 1rem;
  padding-block: 1.75rem;
  border-radius: 10px;
  border: 1px solid var(--color-secondary-stroke);
  box-shadow: 4px 3px 13px -2px var(--color-secondary-stroke);
  transition: transform 0.1s ease-in;
}

.meats__card--text {
  font-family: var(--font-roboto);
  color: var(--color-secondary-darkBlue-60);
  font-size: 0.75rem;
  line-height: 1rem;
}

.meats__card--title {
  margin-block-end: 0.5rem;
  font-weight: 700;
  color: var(--color-primary-bloodred);
  font-family: var(--font-open);
  letter-spacing: 0.075rem;
}

.meats__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.section__container--meats {
  background-color: var(--color-primary-ligth);
  color: var(--color-brand-black);
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .meats__card {
    max-width: 20rem;
  }
  .meats__card:hover {
    transform: scale(1.03);
  }
  .meats__card--img {
    width: 10rem;
  }

  .meats__card--text {
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .meats__card--title {
    font-size: 1.25rem;
  }

  .meats__cards {
    margin-block: 4rem;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1400px) {
  .meats__card {
    max-width: 23rem;
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION PRODUCTS ********************************************************* 
**********************************************************************************************************************************/

.section__container--products {
  background-color: var(--color-secondary-dark);
}

.products {
  display: flex;
  justify-content: center;
  margin-block: 4rem;
  color: var(--color-primary-white);
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 12rem);
  max-width: 385px;
}

.products__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  max-width: max-content;
  background-color: var(--color-secondary-beigeLight);
  color: var(--color-secondary-darkBlue);
}

.products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products__card--line {
  margin-block-start: 0.5rem;
  margin-block-end: 1rem;
  width: 3rem;
  border: 1px solid var(--color-secondary-ocre);
}

.products__card--subtitle {
  text-transform: uppercase;
  font-family: var(--font-open);
  font-size: 0.65rem;
  font-weight: 500;
  color: var(--color-secondary-darkBlue-60);
  text-align: center;
}

.products__card--text {
  color: var(--color-secondary-darkBlue-90);
  font-family: var(--font-roboto);
  font-size: 0.75rem;
  text-align: center;
}
.products__card--title {
  font-size: 1rem;
  font-family: var(--font-georgia);
  color: var(--color-secondary-ocre);
  text-transform: uppercase;
  font-weight: 500;
}

.products__wraps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .products__cards {
    max-width: 100%;
  }

  .products__image {
    filter: saturate(0);
    transition: filter 0.2s ease-in, transform 0.2s ease-in;
  }

  .products__image:hover {
    filter: saturate(0.8);
  }

  .products__card--title {
    font-size: 1.5rem;
  }

  .products__card--subtitle {
    font-size: 1rem;
  }

  .products__card--text {
    font-size: 0.9rem;
  }

  .products__wraps {
    flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .products__cards {
    grid-template-rows: repeat(2, 15rem);
  }

  .products__card {
    padding-inline: 3rem;
  }
}

@media screen and (min-width: 1550px) {
  .products__card {
    padding-inline: 5rem;
  }

  .products__cards {
    grid-template-rows: repeat(2, 18rem);
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION SERVICE ********************************************************* 
**********************************************************************************************************************************/

.section__container--service {
  background-color: var(--color-secondary-dark);
  padding-block-end: 5rem;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.service__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-block: 3rem;
}

.service__card {
  padding-block: 1rem;
  padding-inline: 1rem;
  max-width: 22rem;
  background-color: var(--color-brand-black);
  border-radius: 0.75rem;
}

.service__title {
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;
  font-family: var(--font-open);
  color: var(--color-secondary-ocre);
  font-size: 1rem;
  font-weight: 700;
}

.service__text {
  font-size: 0.75rem;
  line-height: 1.15rem;
  font-family: var(--font-roboto);
  color: var(--color-secondary-grey);
}
.service__image {
  width: 100%;
  max-width: 40rem;
  border-radius: 0.5rem;
}
/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .service__card {
    padding-block: 1.5rem;
    padding-inline: 1.75rem;
    max-width: 23rem;
  }

  .service__title {
    margin-block-start: 1.15rem;
    margin-block-end: 0.75rem;
    font-size: 1.5rem;
  }

  .service__text {
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: var(--font-roboto);
    color: var(--color-secondary-grey);
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION OPINION ********************************************************* 
**********************************************************************************************************************************/

.opinion__text {
  text-align: center;
  margin-block: 2rem;
  font-family: var(--font-open);
  font-size: 1rem;
}
.section__container--opinion {
  color: var(--color-brand-black);
  content-visibility: auto;
}

.ti-widget {
  padding-inline: 1rem;
}

.ti-review-item {
  width: 25%;
}

/* *******************************************************************************************************************************
********************************************************** SECCION CONTACT ********************************************************* 
**********************************************************************************************************************************/

.contact {
  background-color: var(--color-primary-ligth);
  display: flex;
  flex-direction: column;
  content-visibility: auto;
}

.contact__filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 4rem;
  height: 100%;
  background-color: var(--color-secondary-darkBlue-60);
}

.contact__form {
  width: 100%;
  max-width: 25rem;
  margin: 0 auto;
  padding-block: 4rem;
  padding-inline: 1rem;
}

.contact__text {
  margin-block: 1rem;
  margin-inline: 1rem;
  color: var(--color-primary-white);
  font-family: var(--font-georgia);
  font-size: 1.5rem;
  text-align: center;
}

.contact__title {
  background-image: url(../assets/images/image-form.avif);
  background-position: center;
  background-size: cover;
  width: 100%;
}

.contact__subtitle {
  color: var(--color-primary-white);
  font-family: var(--font-roboto);
  text-align: center;
  margin-block-start: 1.5rem;
}

.form__accept,
.form__accept a {
  font-family: var(--font-open);
  font-size: 0.75rem;
}

.form__accept a {
  color: var(--color-secondary-blue);
  font-weight: 600;
}

.form__button,
.response__btn {
  width: 100%;
  padding-block: 0.75rem;
  border: none;
  border-radius: 0.35rem;
  margin-block: 2rem;
  background-color: var(--color-primary-bloodred);
  color: var(--color-primary-white);
  font-family: var(--font-roboto);
  font-size: 0.85rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  cursor: pointer;
}

.form__contact *::placeholder {
  font-family: var(--font-open);
}

.form__contact [required]:valid {
  border: 1px solid var(--color-valid-green);
}

.form__contact [required]:invalid {
  border: 1px solid var(--color-invalid-red);
}

.form__check {
  display: flex;
  gap: 0.75rem;
  margin-block-start: 2rem;
}

.form__check--error {
  border: 1px solid var(--color-brand-primary);
  border-radius: 0.2rem;
  padding: 0.25rem;
}

.form__contact {
  display: flex;
  flex-direction: column;
}

.form__contact label {
  margin-block-start: 1rem;

  margin-block-end: 0.5rem;
  font-family: var(--font-roboto);
  font-weight: 600;
  font-size: 0.75rem;
}

.form__contact textarea {
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  margin-block-start: 1.5rem;
  font-family: var(--font-roboto);
  font-size: 0.75rem;
  resize: none;
}

.form__input {
  margin-block-end: 1rem;

  padding-inline: 0.25rem;
  padding-block: 0.5rem;
  font-size: 0.75rem;
  font-family: var(--font-roboto);
}

.form__span {
  display: none;
  background-color: var(--color-brand-primary);
  color: var(--color-primary-white);
  font-family: var(--font-open);
  font-size: 0.65rem;
  padding-block: 0.4rem;
  padding-inline: 1rem;
}

.span__active {
  display: block;
  margin-block-start: -1rem;
  margin-block-end: 1rem;
}

.response {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1200;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-secondary-darkBlue-40);
}

.response__comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--color-primary-white);
}

.response__image {
  width: 7rem;
}

.response__text {
  text-align: center;
  font-family: var(--font-open);
}

@media screen and (min-width: 1023px) {
  .contact__form {
    padding-block-start: 7rem;
  }
  .contact {
    flex-direction: row;
  }

  .contact__title {
    width: 40%;
  }

  .contact__text {
    font-size: 2rem;
    margin-inline: 2rem;
  }

  .contact__subtitle {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 1440px) {
  .contact__text {
    margin-inline: 12rem;
  }
}
/* *******************************************************************************************************************************
********************************************************** SECCION LOCATION ********************************************************* 
**********************************************************************************************************************************/

.location {
  border-top: 2px solid var(--color-accent-roseWood-50);
}

.location__fixed::before {
  content: url(../assets/icons/icon-contact-phone.svg);
  width: 1rem;
}

.location__mobile::before {
  content: url(../assets/icons/icon-contact-mobile.svg);
  width: 1rem;
}

.location__data {
  display: flex;
  flex-direction: column;
  align-items: center; /* en escritorio cambiar a start */

  gap: 1.5rem;
  text-align: center;
  padding-inline: 1.5rem;
  padding-block: 5rem;
}

.location__days .location__info::before {
  content: "-";
  padding-inline-end: 0.5rem;
}

.location__info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-block-end: 0.5rem;
  font-family: var(--font-roboto);
  font-size: 0.7rem;
}

.location__info--link {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-secondary-blue);
  line-height: 1rem;
}

.location__info--icon::before {
  content: url(../assets/icons/icon-contact-location.svg);
  width: 1rem;
}

.location__titles {
  padding-block-end: 0.5rem;
  font-family: var(--font-open);
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-secondary-darkBlue-90);
}

.location__map--link {
  width: 100%;
  height: 25rem;
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .location {
    display: flex;
    justify-content: space-between;
  }
  .location__data {
    width: 50%;
    justify-content: center;
  }

  .location__map {
    width: 50%;
    height: 560px;
  }

  .location__map--link {
    width: 100%;
    height: 35rem;
  }

  .location__titles {
    padding-block-end: 0.75rem;
    font-size: 1.5rem;
  }

  .location__info {
    font-size: 0.9rem;
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION FOOTER ********************************************************* 
**********************************************************************************************************************************/

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 2px solid var(--color-accent-roseWood-50);
  padding: 1rem; /* poner mas en desktop */
}

.footer__copyright {
  font-family: var(--font-georgia);
  font-size: .75rem;
  color: var(--color-secondary-darkBlue-60);
}

.footer__copyright a {
  font-size: .75rem;
  text-decoration: none;
}

.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-mobile__social--footer {
  margin-block-end: 0;
}

.footer__links {
  display: flex;
  justify-content: space-around;
}

.footer__link {
  color: var(--color-brand-black);
  font-family: var(--font-roboto);
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (min-width: 767px) {
  .footer {
    padding: 3rem;
  }
  .footer__links {
    justify-content: start;
    gap: 3rem;
  }
}

@media screen and (min-width: 1023px) {
  .footer {
    padding-block: 3rem;
    padding-inline: 15rem;
  }
}


/* *******************************************************************************************************************************
********************************************************** SECCION PRIVACY ********************************************************* 
**********************************************************************************************************************************/

.section__container--privacy {
  padding-block-start: 2rem;
  background-color: var(--color-primary-white);
  color: var(--color-primary-black);
}

.privacy {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  padding-inline: 2rem;
  margin-block-end: 2rem;
}

.privacy__title {
  margin-bottom: 1rem;
  font-family: var(--font-open);
  font-size: 1.15rem;
  font-weight: 600;
}

.privacy__text {
  font-family: var(--font-roboto);
  font-size: .8rem;
  color: var(--color-secondary-darkBlue-60);
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/


@media screen and (min-width: 768px) {
  .privacy {
    padding-inline: 5rem;
  }
}

@media screen and (min-width: 1023px) {
  .privacy {
    padding-inline: 20rem;
  }

}



/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

/* -------------------------------------------
-------------- ANIMATION - OBSERVER ---------------
----------------------------------------------*/

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in;
  transition-delay: 0.5s;
}

.fade-in.visible {
  opacity: 1;
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

/* *******************************************************************************************************************************
********************************************************** SECCION ABOUT ********************************************************* 
**********************************************************************************************************************************/

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

/* 
@media screen and (min-width: 1440px)
 */
