:root {
  /* COLORS */
  /* Brand */
  --color-brand-primary: #d84949;
  --color-brand-black: #1b1c1e;

  /* Primary */
  --color-primary-bloodred: #8c1636;
  --color-primary-white: #fff;
  --color-primary-black: #000;

  /* Secondary */
  --color-secondary-darkBlue: #000626;
  --color-secondary-darkBlue-40: rgba(0, 5, 36, 0.4);
  --color-secondary-ocre: #b67837;
  --color-secondary-greenLight: #25d366;
  --color-secondary-grey: #cfcfcf;
  --color-secondary-dark: #12131a;

  /* Accent */
  --color-accent-golden: #f1b371;
  --color-accent-roseWood: #9a7678;

  /* FONTS */
  --font-roboto: "roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-open: "open-sans", "Segoe UI", Tahoma, Geneva, sans-serif;
  --font-georgia: "georgia", Georgia, "Times New Roman", Times, serif;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////// REUSABLE COMPONENTS //////////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* **************************************
************** TITLE SECCION ************* 
*****************************************/

.section__container--about {
  background-color: var(--color-secondary-dark);
}

.section__container--line {
  width: 100%;
  height: 0;
}

.section__container--title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: 3rem;
  width: 100%;
}

.section__container--text {
  margin-block: 1rem;
  color: var(--color-primary-white);
  font-family: var(--font-georgia);
  font-weight: 700;
  letter-spacing: 0.15rem;
}

.section__container--content {
  margin-inline: 1.75rem;
  padding-block-end: 4rem;
}

/* -------------------------------------------
-------------- RESPONSIVE TITLE ---------------
----------------------------------------------*/

@media screen and (min-width: 1023px) {
  .section__container {
    padding-inline: 7rem;
  }
  .section__container--title {
    flex-direction: row;
  }

  .section__container--text {
    margin-inline: 2rem;
  }

  .section__container--content {
    margin-inline: 0;
  }
}

@media screen and (min-width: 1439px) {
  .section__container {
    padding-inline: 15rem;
  }
}


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////// PARTICULAR COMPONENTS ////////////////////////////////////////////////// 
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/* **************************************
************** SECCION MENU MOBILE ********* 
******************************************/

.menu-mobile {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 1.5rem;
  background-color: var(--color-primary-white);
}

.menu-mobile__btns {
  display: flex;
}

.menu-mobile__btn {
  width: 1.5rem;
}

.menu-mobile__btn--disabled {
  display: none;
  transform: scale(0);
  opacity: 0;
}

.menu-mobile__contact {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 0.25rem;
  padding-block: 0.75rem;
  margin-block-end: 4rem;
  border-radius: 0.75rem;
  width: 12.5rem;
  background-color: var(--color-secondary-greenLight);
  color: var(--color-primary-white);
  font-family: var(--font-open);
  font-weight: 600;
  border: none;
}

.menu-mobile__contact img {
  width: 1.25rem;
}

.menu-mobile__image {
  width: 2.5rem;
}

.menu-mobile__link {
  text-decoration: none;
  font-family: var(--font-open);
  font-size: 1rem;
  color: var(--color-brand-black);
  font-weight: 400;
}

.menu-mobile__logo {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.menu-mobile__menu {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 56px;
  right: 0%;
  width: 100%;
  background-color: #1b1c1e;
  transform: translateX(100%);
  transition: transform 0.1s ease-in-out;
}

.menu-mobile__navigation {
  display: flex;
  flex-direction: column;
  width: 85%;
  background-color: var(--color-primary-white);
  padding-block-start: 1.5rem;
  padding-inline-start: 1.5rem;
}

.menu-mobile__nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-end: 3rem;
}

.menu-mobile__social {
  display: flex;
  gap: 1.5rem;
  margin-block-end: 10rem;
}

.menu-mobile__subtitle {
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

.menu-mobile__title {
  font-size: 1rem;
  font-family: var(--font-georgia);
  color: var(--color-brand-primary);
}

/* -------------------------------------------
------------- RESPONSIVE MOBILE -------------
----------------------------------------------*/

@media screen and (min-width: 799px) {
  .menu-mobile__btn {
    width: 1.75rem;
  }

  .menu-mobile__navigation {
    align-items: center;
    width: 70%;
  }

  .menu-mobile__link {
    text-align: center;
    font-size: 1.15rem;
  }
}

/* **************************************
************** SECCION MENU DESKTOP ********* 
******************************************/

.menu-desktop {
  display: none;
  justify-content: space-around;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.menu-desktop__image {
  width: 4rem;
}

.menu-desktop__link {
  display: inline-flex;
  text-decoration: none;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-brand-black);
  border-bottom: 2px solid var(--color-primary-white);
  transition: color 0.3s ease, border-color 0.1s ease-in;
}

.menu-desktop__link:hover {
  border-color: var(--color-brand-primary);
  color: var(--color-primary-black);
}

.menu-desktop__logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.menu-desktop__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  width: 500px;
}

.menu-desktop__nav {
  display: flex;
  gap: 1rem; /* CAMBIAR EN MEDIAQUERIE A MAS DISTANCIA */
}

.menu-desktop__social {
  display: flex;
  gap: 1rem;
}

.menu-desktop__social svg {
  width: 24px;
  cursor: pointer;
  transition: transform 0.05s ease-in;
}

.menu-desktop__social svg:hover {
  transform: scale(1.1);
}

.menu-desktop__social svg path {
  fill: var(--color-secondary-darkBlue-40);
  transition: fill 0.1s ease-in;
}

.menu-desktop__social svg:hover path {
  fill: var(--color-brand-primary);
}

.menu-desktop__subtitle {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.4rem;
  margin-block-start: 0.25rem;
}

.menu-desktop__title {
  font-size: 1.5rem;
  font-family: var(--font-georgia);
  color: var(--color-brand-primary);
}

/* -------------------------------------------
------------- RESPONSIVE DESKTOP -------------
----------------------------------------------*/
@media screen and (min-width: 1023px) {
  .menu-desktop {
    display: flex;
    justify-content: space-between;
  }

  .menu-mobile {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .menu-desktop {
    justify-content: space-around;
  }

  .menu-desktop__menu {
    width: 650px;
  }

  .menu-desktop__nav {
    gap: 2.5rem;
  }

  .menu-desktop__social svg {
    width: 28px;
  }
}


/* ****************************************************************************************************************************************
*************************************************************** SECCION HOME ************************************************************** 
*******************************************************************************************************************************************/

.home {
  width: 100%;
  height: 100dvh;
  background-image: url("../assets/images/image-home.avif");
  background-size: cover;
}

.home__btn {
  border: 1px solid var(--color-primary-white);
  background-color: var(--color-brand-primary);
  border-radius: 0.5rem;
  margin-block: 3rem;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  font-family: var(--font-open);
  font-size: 0.8rem;
  color: var(--color-primary-white);
  font-weight: 500;
  letter-spacing: 0.05rem;
}

.home__degraded {
  display: flex;
  justify-content: center;
  padding-block-start: 4rem;
  width: 100%;
  height: 100dvh;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 60%
  );
}

.home__description {
  color: var(--color-secondary-grey);
  font-family: var(--font-open);
  font-size: 0.8rem;
}
.home__info {
  margin-inline: 1.5rem;
  height: min-content;
  text-align: center;
  /* border: 2px solid green; */
  color: var(--color-primary-white);
}

.home__line {
  display: none;
  width: 12rem;
}

.home__title {
  margin-block-end: 3rem;
  font-family: var(--font-georgia);
  font-size: 4rem;
}

.home__subtitle {
  margin-block-end: 1.5rem;
  text-transform: uppercase;
  font-family: var(--font-open);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.24rem;
}

/* -------------------------------------------
-------------- RESPONSIVE HOME ---------------
----------------------------------------------*/

@media screen and (min-width: 500px) {
  .home__subtitle {
    font-size: 1.25rem;
  }

  .home__description {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1023px) {
  .home__btn {
    font-size: 1rem;
  }

  .home__degraded {
    justify-content: start;
    align-items: center;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 0) 90%
    );
  }

  .home__info {
    text-align: start;
    margin-inline-start: 20%;
  }

  .home__title {
    font-size: 5rem;
    margin-block-end: 2rem;
  }

  .home__subtitle {
    font-size: 1.75rem;
  }

  .home__description {
    font-size: 1.25rem;
  }

  .home__line {
    display: block;
    width: 12rem;
    margin-inline-start: 8rem;
  }
}

@media screen and (min-width: 1439px) {
  .home__degraded {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 0) 90%
    );
  }
}

/* *******************************************************************************************************************************
********************************************************** SECCION ABOUT ********************************************************* 
**********************************************************************************************************************************/

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--color-primary-white);
  font-family: var(--font-open);
}


.about__image {
  width: 75%;
  max-width: 24rem;
}

.fade-in {
  opacity: 0;
  transition: opacity .2s ease-in;
}

.fade-in.visible {
  opacity: 1;
}


.about__text {
  text-align: center;
}

@media screen and (min-width: 1023px) {
 .about {
  flex-direction: row;
  align-items: flex-start;
 }

 
}


/* -------------------------------------------
-------------- ANIMATION - OBSERVER ---------------
----------------------------------------------*/

.fade-in {
  opacity: 0;
  transition: opacity .6s ease-in ;
  transition-delay: .8s;

}

.fade-in.visible {
  opacity: 1;
}

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

/* **************************************
************** SECCION ********* 
******************************************/

/* -------------------------------------------
---------------- RESPONSIVE ------------------
----------------------------------------------*/

/* 
@media screen and (min-width: 1440px)
 */
